@media print {
  @page {
    size: A4 landscape;
    margin: 5mm;
    height: 110vh;
    width: 100%;
  }

  .print-full-page {
    page-break-inside: avoid !important;
    font-size: 9px !important;
    line-height: 1.3 !important;
  }
  .print-full-page * {
    margin-bottom: 0.25rem !important;
  }
  .print-full-page table {
    font-size: 8px !important;
  }
}
